# dependencies
node_modules/

# local data / temp
data.json
*.log

# OS files
.DS_Store
Thumbs.db

# optional env files
.env
.env.*

# TypeScript cache
*.tsbuildinfo

# others
project-development-status.txt